<section class="contact">
    <h2 class="text-center">Contact Us</h2>
    <div  class="form">
        <input    class="form-input" type="text" id="name" name="name" autocomplete="off" placeholder="Enter your name">
        <input    class="form-input" type="text" id="name" name="phone" autocomplete="off" placeholder="Enter your Phone">
        <input    class="form-input" type="text" id="name" name="email" autocomplete="off" placeholder="Enter your Email">
        <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate your concern..."></textarea>
        <button class="btn-dark">Submit</button>
    </div>
</section>
