<section class="background firstSection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big">What does web development containt</p>
            <p class="text-small">While web development typically refers to web markup and coding, websiite development includes all related development tasks, such as client-side scripting, server-side scripting, server and network security configuration, eCommerce development, and content management system (CMS) development.</p>
        </div>
        <div class="secondHalf">
            <img src="/assets/laptop.jpg" alt="image">
        </div>
    </div>
</section>
<section class="secRight reverse">
    <div class="paras">
        <p class="text-big">What does web development containt</p>
    <p class="text-small">While web development typically refers to web markup and coding, websiite development includes all related development tasks, such as client-side scripting, server-side scripting, server and network security configuration, eCommerce development, and content management system (CMS) development.</p>
    </div>
    <div class="thumbnail">
        <img src="/assets/ai.jpg" alt="image">
    </div>
</section>
<section class="secLeft">
   <div class="paras">
    <p class="text-big">What does web development containt</p>
    <p class="text-small">While web development typically refers to web markup and coding, websiite development includes all related development tasks, such as client-side scripting, server-side scripting, server and network security configuration, eCommerce development, and content management system (CMS) development.</p>
   </div>
   <div class="secthumbnail">
    <img src="/assets/salman1.jpg" alt="">
   </div>
</section>